<h2> Latest Mobiles</h2>
<br />
<h1 style="red"> <a href=""> Apple </a></h1>
<br />
<table>
    <tr>
        <td> <img src="~/Content/images/Apple iphone 5 32GB.jpg" height="120" /> </td>
        <td> <img src="~/Content/images/Apple iphone 5 64GB.jpg" height="120" /> </td>
        <td> <img src="~/Content/images/Apple iphone 5C.jpg" height="120" />  </td>
        <td> <img src="~/Content/images/Apple iphone 5S 16GB.jpg" height="120" />  </td>
        <td> <img src="~/Content/images/Apple iphone 5S 32GB.jpg" height="120" /> </td>
    </tr>

    <tr>
        <td> <a href="/Client/ShowMobile/?name=Apple iphone 5 32GB"> Apple iphone 5 32GB </a> </td>
        <td> <a href="/Client/ShowMobile/?name=Apple iphone 5 64GB"> Apple iphone 5 64GB </a> </td>
        <td> <a href="/Client/ShowMobile/?name=Apple iphone 5C"> Apple iphone 5C </a> </td>
        <td> <a href="/Client/ShowMobile/?name=Apple iphone 5S 16GB"> Apple iphone 5S 16GB </a> </td>
        <td> <a href="/Client/ShowMobile/?name=Apple iphone 5S 32GB"> Apple iphone 5S 32GB </a> </td>
    </tr>
</table>



<br />
<h1 style="color: red">  <a href="ControllerServlet?action=ShowMobileListByBrand&brand=SonyEricsson"> SonyEricsson </a></h1>
<br />
<table>
    <tr>
        <td> <img src="~/Content/images/SonyEricsson Xperia Arc S.jpg" height="120" /> </td>
        <td> <img src="~/Content/images/SonyEricsson Xperia Neo.jpg" height="120" /> </td>
        <td> <img src="~/Content/images/SonyEricsson Xperia Play.jpg" height="120" /> </td>
        <td> <img src="~/Content/images/SonyEricsson Xperia Ray.jpg" height="120" />  </td>
        <td> <img src="~/Content/images/SonyEricsson Xperia X10 Mini.jpg" height="120" />  </td>
    </tr>

    <tr>
        <td> <a href="/Client/ShowMobile/?name=SonyEricsson Xperia Arc S"> SonyEricsson Xperia Arc S </a>  </td>
        <td> <a href="/Client/ShowMobile/?name=SonyEricsson Xperia Neo"> SonyEricsson Xperia Neo </a> </td>
        <td> <a href="/Client/ShowMobile/?name=SonyEricsson Xperia Play"> SonyEricsson Xperia Play </a> </td>
        <td> <a href="/Client/ShowMobile/?name=SonyEricsson Xperia Ray"> SonyEricsson Xperia Ray </a> </td>
        <td> <a href="/Client/ShowMobile/?name=SonyEricsson Xperia X10 Mini"> SonyEricsson Xperia X10 Mini </a> </td>
    </tr>
</table>

<br />
<h1 style="color: red">  <a href=""> Samsung </a></h1>
<br />
<table>
    <tr>
        <td> <img src="~/Content/images/Samsung Galaxy Note 3.jpg" height="120" /> </td>
        <td> <img src="~/Content/images/Samsung Galaxy S Duos 2.jpg" height="120" /> </td>
        <td> <img src="~/Content/images/Samsung Galaxy S4 I9500.jpg" height="120" />  </td>
        <td> <img src="~/Content/images/Samsung Galaxy S4 Zoom.jpg" height="120" />  </td>
    </tr>

    <tr>
        <td> <a href="/Client/ShowMobile/?name=Samsung Galaxy Note 3"> Samsung Galaxy Note 3</a> </td>
        <td> <a href="/Client/ShowMobile/?name=Samsung Galaxy S Duos 2"> Samsung Galaxy S Duos 2 </a> </td>
        <td> <a href="/Client/ShowMobile/?name=Samsung Galaxy S4 I9500"> Samsung Galaxy S4 I9500 </a> </td>
        <td> <a href="/Client/ShowMobile/?name=Samsung Galaxy S4 Zoom"> Samsung Galaxy S4 Zoom </a> </td>
    </tr>
</table>