@{
    ViewBag.Title = "Failure";
}

<html>
<head>
    <title> Pak Mobiles</title>
</head>
<body>
    <table border="0" cellspacing="25" align="center">
        <tr>
            <td align="center">
                <h1 style="color:black"> Can't Sign Up</h1>
            </td>
        </tr>

        <tr>
            <td align="center"><h2 style="color:red"> Record found with same UserName </h2></td>
        </tr>
    </table>

    <div align="center">
        <h2 style="background: #000000"><a href="SignUp" style="color: white; text-decoration: none"> Go to Home Page </a></h2>
    </div>
</body>
</html>

