@{
    ViewBag.Title = "NoRecordFound";
}

<html>
<head>
    <title> Pak Mobiles</title>
</head>
<body>
    <table border="0" cellspacing="25" align="center">
        <tr>
            <td align="center">
                <h1 style="color:black"> Failure </h1>
            </td>
        </tr>

        <tr>
            <td align="center"><h2 style="color:red"> No Record Found </h2></td>
        </tr>
    </table>

    <div align="center">
        <h2 style="background: #000000"><a href="LogIn" style="color: white; text-decoration: none"> Go to Home Page </a></h2>
    </div>
</body>
</html>
