@{
    ViewBag.Title = "Success";
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title> Pak Mobiles</title>
</head>
<body>
    <table border="0" cellspacing="25" align="center">
        <tr>
            <td align="center">
                <h1 style="color:black"> Success </h1>
            </td>
        </tr>

        <tr>
            <td align="center"><h2 style="color:red"> Signed up successfully...</h2></td>
        </tr>
    </table>

    <div align="center">
        <h2 style="background: #000000"><a href="SignUp" style="color: white; text-decoration: none"> Go to Home Page </a></h2>
    </div>
</body>
</html>

